<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css'>

    <style>
        body {
    background: beige;  
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #000;
}

.student-profile .card {
    border-radius: 10px;
}

.student-profile .card .card-header .profile_img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 10px auto;
    border: 10px solid #ccc;
    border-radius: 50%;
}

.student-profile .card h3 {
    font-size: 20px;
    font-weight: 700;
}

.student-profile .card p {
    font-size: 16px;
    color: #000;
}

.student-profile .table th,
.student-profile .table td {
    font-size: 14px;
    padding: 5px 10px;
    color: #000;
}
.ScriptHeader {
    float: left;
    width: 100%;
    padding: 2em 0;
}
.rt-heading {
    margin: 0 auto;
	text-align:center;
}
.Scriptcontent{
	line-height:28px;	
}
.ScriptHeader h1{
	font-family: "brandon-grotesque", "Brandon Grotesque", "Source Sans Pro", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    color: #6a4aed;
    font-size: 26px;
    font-weight: 700;
    margin: 0;
    line-height: normal;

}
    </style>
</head>

<body>
    <header class="ScriptHeader">
        <div class="rt-container">
            <div class="col-rt-12">
                <div class="rt-heading">
                    <h1>Profile</h1>
                </div>
            </div>
        </div>
    </header>

    <section>
        <div class="rt-container">
            <div class="col-rt-12">
                <div class="Scriptcontent">

                    <!-- Student Profile -->
                    <div class="student-profile py-4">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="card shadow-sm">
                                        <div class="card-header bg-transparent text-center">
                                            <img class="profile_img" src="./Assets/university logo.png"
                                                alt="student dp">
                                            <h3>Ranjan Kumar Verma</h3>
                                        </div>
                                        <div class="card-body">
                                            <p class="mb-0"><strong class="pr-1">Student ID:</strong>BCA21021</p>
                                            <p class="mb-0"><strong class="pr-1">UG:</strong>BCA</p>
                                            <p class="mb-0"><strong class="pr-1">Semester:</strong>6<sup>th</sup></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="card shadow-sm">
                                        <div class="card-header bg-transparent border-0">
                                            <h3 class="mb-0"><i class="far fa-clone pr-1"></i>General Information</h3>
                                        </div>
                                        <div class="card-body pt-0">
                                            <table class="table table-bordered">
                                                <tr>
                                                    <th width="30%">Roll</th>
                                                    <td width="2%">:</td>
                                                    <td>21</td>
                                                </tr>
                                                <tr>
                                                    <th width="30%">Academic Year </th>
                                                    <td width="2%">:</td>
                                                    <td>2021-2024</td>
                                                </tr>
                                                <tr>
                                                    <th width="30%">Gender</th>
                                                    <td width="2%">:</td>
                                                    <td>Male</td>
                                                </tr>
                                                <tr>
                                                    <th width="30%">Mobile Number</th>
                                                    <td width="2%">:</td>
                                                    <td>9709245792</td>
                                                </tr>
                                                <tr>
                                                    <th width="30%">Email ID</th>
                                                    <td width="2%">:</td>
                                                    <td>info.krranjan@gmail.com</td>
                                                </tr>
                                                <tr>
                                                    <th width="30%">Blood</th>
                                                    <td width="2%">:</td>
                                                    <td>A+</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div style="height: 26px"></div>
                                    <div class="card shadow-sm">
                                        <div class="card-header bg-transparent border-0">
                                            <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Other Information</h3>
                                        </div>
                                        <div class="card-body pt-0">
                                            <table class="table table-bordered">
                                                <tr>
                                                    <th width="30%">Father's Name</th>
                                                    <td width="2%">:</td>
                                                    <td>Jaynarayan Kumar Verma</td>
                                                </tr>
                                                <tr>
                                                    <th width="30%">Mother's Name </th>
                                                    <td width="2%">:</td>
                                                    <td>Anita Verma</td>
                                                </tr>
                                                <tr>
                                                    <th width="30%">Father Contact</th>
                                                    <td width="2%">:</td>
                                                    <td>9199742142</td>
                                                </tr>
                                                <tr>
                                                    <th width="30%">Religion</th>
                                                    <td width="2%">:</td>
                                                    <td>Hindu</td>
                                                </tr>
                                                <tr>
                                                    <th width="30%">Address</th>
                                                    <td width="2%">:</td>
                                                    <td>Vill-Nawadih, Po- Pachamba</td>
                                                </tr>
                                                <tr>
                                                    <th width="30%">Pincode</th>
                                                    <td width="2%">:</td>
                                                    <td>815316</td>
                                                </tr>
                                                <tr>
                                                    <th width="30%">District</th>
                                                    <td width="2%">:</td>
                                                    <td>Giridih</td>
                                                </tr>
                                                <tr>
                                                    <th width="30%">State</th>
                                                    <td width="2%">:</td>
                                                    <td>Jharkhand</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>